.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

@media (min-width: 600px) {
    .container {
        padding: 20px;
    }
}

.box {
    background-color: #0f2842;
    min-height: 80vh;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
}

@media (min-width: 960px) {
    .box {
        width: 80vh;
    }
}

.input {
    background-color: white;
}

.create-button {
    padding: 10px 20px !important;
    color: white !important;
    border-color: white !important;
    margin-top: 20px !important;
}
.tag-button {
    color: white !important;
    border-color: white !important;
    margin-right: 10px !important;
}

.new-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-item-list-item {
    width: 100%;
    justify-content: center;
    text-align: center;
}