#root {
  padding: 2rem;
  text-align: center;
}

.MuiAccordion-root {
  background-color: #e3f2fd;
  border-radius: 5px;
  margin-bottom: 10px; 
}

.MuiAccordionSummary-root {
  background-color: #396796; 
  color: white; 
  font-weight: bold;
}

.MuiAccordionSummary-root:hover {
  background-color: #396796; 
  
}

.MuiAccordionDetails-root {
  background-color: #ffffff;
}
.MuiTableCell-root {
  border: 1px solid #ccc; 
}

.MuiTable-root {
  min-width: 650px;
}

.MuiTableHead-root .MuiTableCell-root {
  background-color: #396796; 
  color: white; 
  font-weight: bold; 
}

/* Change the background color for alternate rows in the table */
.MuiTableRow-root:nth-child(even) {
  background-color: #dde5eb; 
}

.MuiTableRow-root:nth-child(odd) {
  background-color: #ffffff; 
}

.MuiTableContainer-root {
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.MuiTableRow-root:last-child .MuiTableCell-root {
  border: 1px solid #ccc;
}
.MuiButton-root {
  margin: 0.5rem;
  background: white;
  color: #afc29f;
}

.available {
  color: green !important;
}

.not-available {
  color: red !important;
}

.search-bar {
  background-color: white;
}
.checkbox-label .MuiCheckbox-root {
  color: white;
}

.checkbox-label .MuiCheckbox-root.Mui-checked {
  color: white;
}

.drawer-button {
  position: fixed !important;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.scanner-button {
  position: fixed !important;
  bottom: 20px; /* Adjusted to hover near the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  z-index: 1001;
  background-color: transparent; /* Transparent background */
}

.scanner-button svg {
  font-size: 4rem !important; /* Explicitly scale the icon */
  border: 5px solid white; /* White circle border */
  border-radius: 50%; /* Make it circular */
  padding: 10px;
  display: flex; /* Center the icon inside the circle */
}

.drawer-button:hover {
  background-color: #2c4a6b; 
}

.MuiDrawer-paper {
  background-color: #0f2842 !important; 
  color: white;
}

@media (max-width: 768px) {
  .MuiTable-root {
    min-width: 30%
  }
}

